################################################
### Package imports
################################################
import(hwriter)
importFrom(TeachingDemos, txtStart, txtStop)
################################################
### Functions
################################################
export(newPage,
       hwriteOutput,
       hwriteScript,
       hwriteSVG,
       hwriteLatex,
       as.latex,
       script,
       eqRef)
################################################
## S3 classes
################################################
