################################################
### Package imports
################################################
import(hwriter)
################################################
### Functions
################################################
export(newPage,
       hwriteOutput,
       hwriteSVG,
       hwriteLatex,
       as.latex,
       script)
################################################
## S3 classes
################################################
